<html>
    <head>
        <title>Kinergi</title>
        <meta>

    </head>
    
        <style> 
        body {background-color: beige;}
        h1 {color: darkcyan;}
        h1 {text-align: center;}
        h3 {text-align: center;}
        
        </style>
        
    <body>
        <img style="text-align: left;" src="baixa.jpg" width="100" /> <a style="float: left; margin: 0px 0px 15px 15px;"></a><u>Login</u></a>
        <h1>Kinergi</h1>
        <h3>El teu arxivador</h3>
        
        
        
        

    </body>

</html>