<!DOCTYPE html>
<html>  
    
    <head>
        <title>Empresa: Productes disponibles</title>
    </head>

    <style>
        body {
            font-family: 'Lexend Deca', sans-serif;
        }

        p {
            font-weight: lighter;
        }

        th, td {
            border: 0.5mm solid black;
        }

    </style>

    <body>
        {% if account.products %}
        <table style="width: 100%">
            <tr style="height: 10px;">
                <th>Identificador</th>
                <th>Nom</th>
                <th>Cuantitat</th>
            </tr>
            {% for product in account['products'] %}
                <tr style="font-weight: normal;">
                    <th>
                        <p>{{ product.id}}</p>
                    </th>
                    <th>
                        <p>{{ product.name }}</p>
                    </th>
                    <th>
                        <p>{{ product.amount }}</p>
                    </th>
                    <th>
                        <input onclick="window.location.href = '/products/delete?id={{ product.id }}'" type="submit" value="Suprimir">
                    </th>
                </tr>
            {% endfor %}
        </table>
        <form action="/products/create">
            <input type="text" id="name" placeholder="Nom del producte." name="name" required>
            <input type="number" id="amount" placeholder="Cuantitat del producte." name="amount" required>
            <input type="submit" value="Afageix el producte" required>
        </form>
        {% elif account.message == 'La conta no te productes en la base de dades.' %}
        <form action="/products/create">
            <input type="text" id="name" placeholder="Nom del producte." name="name" required>
            <input type="number" id="amount" placeholder="Cuantitat del producte." name="amount" required>
            <input type="submit" value="Afageix el producte" required>
        </form>
        {% else %}
        <h1>Alguna cosa està malament!</h1>
        <p>{{ account.message }}</p>
        {% endif %}
    </body>
</html>

